.localisation {
  display: flex;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;

  i {
    position: relative;
    right: 18px;
  }
}

/************Reservation************/

.reservation {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  gap: 27px;

  &-titre {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 18px;
    }
  }

  a {
    width: 218px;
    height: 35px;
    background: linear-gradient(to top, #9356dc, #ff79da);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;

    &:hover {
      opacity: 0.85;
      transition: all 0.2s linear;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
  }
}

/************Fonctionnement************/

.fonctionnement {
  display: flex;
  padding: 48px 25px;
  flex-direction: column;

  h2 {
    margin-bottom: 25px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 12px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 72px;
      border-radius: 20px;
      background-color: #f6f6f6;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      position: relative;

      &:hover i,
      &:focus i {
        color: #9356dc;
      }

      span {
        background-color: #9356dc;
        color: #fff;
        display: flex;
        position: absolute;
        border-radius: 50%;
        border: 1px #9356dc solid;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        left: -12px;
      }

      i {
        position: relative;
        right: 23px;
        color: #7e7e7e;
      }
    }
  }
}

/************Restaurants************/

.restaurants {
  background-color: #f7f7f7;
  padding: 48px 20px;

      .coeur {
        display: flex;
        position: absolute;
        right: 50px;
        margin-top: -30px;

        &-vide {
          position: absolute;
          font-size: 25px;
          opacity: 1;
        

          &:hover,
          &:focus {
            opacity: 0;
          }
        }

        &-rempli {
          position: absolute;
          opacity: 0;
          color: transparent;
          font-size: 25px;
        

          &:hover,
          &:focus {
            opacity: 1;
            background: linear-gradient(to top, #9356DC, #FF79DA);
            transition: all 400ms ease-out;
            -webkit-background-clip: text;
            background-clip: text;
          }
        }
      }
    }

/***************Page Restaurants***************/

.logo-menus {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  img {
    width: 162px;
    padding: 14px 0 8px 0;
  }

  i {
    position: absolute;
    left: 23px;
    top: 18px;
    color: #000;
    font-size: 17px;
    font-weight: 900;
  }
}

/************Header************/

.image-restaurant {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 55px;
  display: flex;
  padding: 0;
  margin: 0;
}

.titre-restaurant {
  margin-top: 200px;
  border-radius: 40px 40px 0px 0px;
  padding: 32px 0px 32px 13px;
  font-family: "Shrikhand";
  font-style: italic;
  font-size: 28px;
  font-weight: 900;
  display: flex;
}

.coeur-restaurant {
  display: flex;
  position: absolute;
  right: 60px;
  margin-top: -60px;

  .coeur-vide {
    position: absolute;
    font-size: 25px;
    opacity: 1;
  
    &:hover,
    &:focus {
      opacity: 0;
    }
  }

  .coeur-rempli {
    position: absolute;
    opacity: 0;
    color: transparent;
    font-size: 25px;
  
    &:hover,
    &:focus {
      opacity: 1;
      background: linear-gradient(to top, #9356DC, #FF79DA);
      transition: all 400ms ease-out;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}

/************Menus************/

.restaurant-main {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding-bottom: 30px;
}

.epd {
  display: flex;
  flex-direction: column;
  padding: 0px 13px;
  gap: 15px;

  h2 {
    width: 40px;
    text-transform: uppercase;
    border-bottom: #99E2D0 3px solid;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 16px;
  }

    ul {
      width: 100%;
      list-style: none;
      gap: 10px;
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
    }

    li {
      width: 100%;
      height: 72px;
      border-radius: 15px;
      border: none;
      background-color: #FFF;
      box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);

      &:hover,
      &:focus {
        .validation i {
          width: 60px;
          animation: left 1s ease;
          transform-origin: right;
          transition-property: all;
          color: white;
        }
      }

      .validation {
        display: flex;
        justify-content: flex-end;
      }

      .prix {
        font-weight: 700;
        right: 10px;
        position: relative;
      }

      .nom-plats {
        display: flex;
        flex-direction: column;
        position: relative;
        right: -10px;
        bottom: -16px;
      }

      .validation i {
        display: flex;
        position: relative;
        top: -40px;
        height: 400%;
        width: 0px;
        background-color: #99E2D0;
        color: transparent;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        justify-content: center;
        transition: width 1s ease;
      }
    }
  }

.button-commander {
  display: block;
  margin: auto;
  width: 200px;
}

/**********Animation-Loader**********/

[id="loader"] {
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 45%;
  animation: loader 2s 100ms;
  opacity: 0;

  .un {
      width: 120px;
      height: 120px;
      border: 2px solid #9356DC;
      position: absolute;
      border-radius: 50%;
      border-right: 2px solid #FF79DA;
      border-left: 2px solid #FF79DA;
      -webkit-animation: spin-right 2s linear infinite;
      animation: spin-right 2s linear infinite;
  }

  .deux {
      width: 100px;
      height: 100px;
      border: 2px solid #9356DC;
      position: absolute;
      border-radius: 50%;
      margin: 10px;
      border-bottom: 2px solid #FF79DA;
      border-top: 2px solid #FF79DA;
      -webkit-animation: spin-left 1s linear infinite;
      animation: spin-left 1s linear infinite;
  }

  .trois {
      width: 80px;
      height: 80px;
      border: 2px solid #9356DC;
      position: absolute;
      border-radius: 50%;
      margin: 20px;
      border-top: 2px solid #FF79DA;
      -webkit-animation: spin-right 1s linear infinite;
      animation: spin-right 1s linear infinite;
  }
}

@keyframes spin-left {
  100% {
      transform: rotate(-360deg);
  }
}

@keyframes spin-right {
  100% {
      transform: rotate(360deg);
  }
}

.animation-loader {
  animation: loaderbackg 2s;
}

@keyframes loaderbackg {
  0% {
      opacity: 0;
  }

  79% {
      opacity: 0;
  }

  80% {
      opacity: 0.1;
  }

  100% {
      opacity: 1;
  }
}

@keyframes loader {
  0% {
      opacity: 1;
  }

  70% {
      opacity: 1;
      transform: rotateY(1440deg);
  }

  80% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      transform: rotateY(1440deg);
  }
}

/**********Animation-Menus**********/

.cate-1 {
  animation: trans 1s 0.5s;
  animation-fill-mode: backwards;
}

.cate-2 {
  animation: trans 1s 1s;
  animation-fill-mode: backwards;

}

.cate-3 {
  animation: trans 1s 1.5s;
  animation-fill-mode: backwards;
}

@keyframes trans {
  0% {
      opacity: 0;
      transform: translate(-100%);
  }

  100% {
      opacity: 1;
      transform: translate(0%);
  }
}

/***************Version Tablette***************/

  @media (min-width: 768px) {

    .fonctionnement {

      ul {
        padding: 0px 90px;
      }
    }

    .restaurants {

      ul {
        padding: 0 70px;
      }
    }

    .titre-restaurant {
      justify-content: center;
    }

    .coeur-restaurant {
      right: 250px;
    }

    .epd {
      padding: 0 70px;
    }
  }

/***************Version Desktop***************/

  @media (min-width: 1200px) {

    .fonctionnement {

      h2 {
        margin-bottom: 30px;
        margin-left: 140px;
      }

      ul {
        flex-direction: row;
        gap: 30px;
        justify-content: center;

        li {
          width: 27%;

          i {
            right: 15px;
          }
        }
      }
    }

    .reservation {
      p {
        margin-bottom: 10px;
      }
    }

    .restaurants {
      padding: 40px 96px;

      h2 {
        justify-content: initial;
        display: flex;
        position: relative;
        left: 70px;
      }

      ul {
        flex-direction: row;
        gap: 34px;
        flex-wrap: wrap;
        justify-content: space-between;
    
        li {
          width: 48%;
        }
      }
    }

    .restaurant-main {
      padding-bottom: 30px;
      margin: 0 200px 0 200px;
    }

    .titre-restaurant {
      margin-top: 20px;
    }

    .image-menu {
      display: flex;
      margin-top: 440px;
    }

    .menu {
      padding: 0 120px 0 120px;
    }

    .image-restaurant {
      object-fit: cover;
      height: 500px;
      display: flex;
      left: 0;
      top: 78px;
    }

    .coeur-restaurant {
      right: 460px;
      margin-top: -80px;
    }

    .logo-menus {

      img {
        width: 200px;
        padding: 20px 8px;
      }

      i {
        top: 30px;
      }
    }
  }
